<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="app" class="com.learn.MainApp">
        <property name="user" value="Jhon Doe"/>
        <property name="laptop" ref="lap"/>
    </bean>
    <bean id="lap" class="com.learn.Laptop">
<!--        Order Based -->
<!--        <constructor-arg value="8"></constructor-arg>-->
<!--        <constructor-arg ref="processor"></constructor-arg>-->

        <constructor-arg type="com.learn.Processor" ref="processor"></constructor-arg>
        <constructor-arg type="int" value="8"></constructor-arg>
    </bean>
    <bean id="processor" class="com.learn.Processor">
<!--        <constructor-arg index="0" value="16"></constructor-arg>-->
<!--        <constructor-arg index="1" value="Intel"></constructor-arg>-->

        <constructor-arg name="name" value="Intel"></constructor-arg>
        <constructor-arg name="core" value="16"></constructor-arg>
    </bean>

</beans>