<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="app" class="com.learn.MainApp" autowire="byName">-->
    <bean id="app" class="com.learn.MainApp" autowire="byType">
        <property name="user" value="Jhon Doe"/>
<!--        <property name="computer" ref="desktop"/>-->
<!--        <property name="computer" ref="lap"/>-->
    </bean>
    <bean id="lap" class="com.learn.Laptop" primary="true">
<!--        Order Based -->
<!--        <constructor-arg value="8"></constructor-arg>-->
<!--        <constructor-arg ref="processor"></constructor-arg>-->

        <constructor-arg type="com.learn.Processor" >
            <bean id="processor" class="com.learn.Processor">
                <!--        <constructor-arg index="0" value="16"></constructor-arg>-->
                <!--        <constructor-arg index="1" value="Intel"></constructor-arg>-->

                <constructor-arg name="name" value="Intel"></constructor-arg>
                <constructor-arg name="core" value="16"></constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg type="int" value="8"></constructor-arg>
    </bean>
<!--    <bean id="processor" class="com.learn.Processor">-->
<!--        &lt;!&ndash;        <constructor-arg index="0" value="16"></constructor-arg>&ndash;&gt;-->
<!--        &lt;!&ndash;        <constructor-arg index="1" value="Intel"></constructor-arg>&ndash;&gt;-->

<!--        <constructor-arg name="name" value="Intel"></constructor-arg>-->
<!--        <constructor-arg name="core" value="16"></constructor-arg>-->
<!--    </bean>-->
    <bean id="computer" class="com.learn.Desktop" lazy-init="true"></bean>

</beans>